# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
datasets/
diagrams/
build/
deps/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
settings.yaml
template-packaged.yaml

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# System files
*.swp
*~
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Sphinx documentation
docs/_build/

# Ignore envs
.env
.venv
.python-version
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile.lock

# ignore linter
.coafile

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore IDE config
.idea/
